.clients {
  padding: 94px 0;
}

.clients__list {
  @extend %list;
  display: flex;
}

.clients__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  transition: color 250ms var(--hover-time), border 250ms var(--hover-time);
}

.clients__icon {
  fill: currentColor;
}

.clients__link:hover {
  color: var(--special-text-color);
  border: 1px solid var(--special-text-color);
}

.clients__item:not(:last-child) {
  margin-right: 30px;
}
